- name: Install rsync
  apt:
    pkg=rsync
    update_cache=yes
    cache_valid_time={{APT_CACHE_VALID_TIME}}
    state=present

- name: Check whether wp is installed
  stat: path={{wordpress_webroot}}/wp-content
  register: wp_present

- name: Sync git repo for the site
  git:
    repo: "{{synced_wordpress.repo}}"
    dest: "{{wordpress_site_dir}}"
    version: "{{ synced_wordpress.branch|default('master') }}"
  when: synced_wordpress.repo is defined

- name: Copy files in place
  synchronize: src={{wordpress_files}}/ dest={{wordpress_webroot}} delete=yes
  when: wp_present.stat.exists == false and wordpress_files is defined

- name: Set wp_new_site_name (1)
  set_fact:
    defined_new_site_name: "{{ synced_wordpress.new_site_name }}"
  when: synced_wordpress is defined and synced_wordpress.new_site_name is defined

- name: Set wp_new_site_name (2)
  set_fact:
    wp_new_site_name: "{{ defined_new_site_name|default(wordpress_db.site_name|default(site_name)) ~ local_test_environment|default('') }}"

- name: Install wp-config.php
  template:
    src={{item}}
    dest={{wordpress_webroot}}/wp-config.php
  with_first_found:
        - files:
            - "{{wordpress_config_template}}"
          paths:
            - "{{wordpress_assets_path}}"
            - "../templates"
  when: wordpress_config_template is defined
