# {{ ansible_managed }}
{% import "macros.j2" as apache_macros with context %}
{% if apache_vhost_definition is not defined %}
<VirtualHost *:{{apache_vhost_port}}>
{% else %}
<VirtualHost {{ apache_vhost_definition }}>
{% endif %}
{% if no_www_redirect is defined %}
        ServerName {{ apache_vhost_site_name }}
{% else %}
        ServerName www.{{ apache_vhost_site_name }}
{% endif %}
{% if apache_vhost_other_sites is defined %}
{%    for site in apache_vhost_other_sites %}
{% if local_test_environment is defined %}
{% set site = site ~ ".local" %}
{% endif %}
{% if loop.first %}
        ServerAlias {{ site }}{% else %} {{site}}{% endif %}
{%    endfor %}
{% endif %}

{% if apache_vhost_ssl_certificate_common_name is defined %}
    SSLEngine on
    SSLCertificateFile  {{ apache_ssl_certificate_dir }}/{{ apache_vhost_ssl_certificate }}
    SSLCertificateKeyFile {{ apache_ssl_certificate_dir }}/{{ apache_vhost_ssl_key }}
    SSLCertificateChainFile {{ apache_ssl_certificate_dir }}/{{ apache_vhost_ssl_bundle }}
{% endif %}
        Alias /robots.txt {{apache_vhost_robots_txt_dir}}/{{apache_vhost_robots_txt_filename}}
        ServerAdmin {{apache_vhost_server_admin_email}}
        DocumentRoot {{apache_vhost_webroot}}

        <Directory {{apache_vhost_webroot}}>
                   Options Indexes FollowSymLinks MultiViews
                   AllowOverride {{ apache_vhost_allowoverride }}
                   Order allow,deny
                   allow from all
        </Directory>

{{ apache_macros.rewrite_block(rewrites) }}
</VirtualHost>
{% include 'alternate_vhosts.j2' %}
