# {{ ansible_managed }}
<VirtualHost *:80>
{% include 'apache_servername.j2' %}
{% if other_network_sites is defined %}
{%    for network_site in other_network_sites %}
{% if loop.first %}
        ServerAlias {{ network_site }}{% else %} {{network_site}}{% endif %}
{%    endfor %}
{% endif %}

        ServerAdmin {{wordpress_server_admin_email}}
        DocumentRoot {{apache_vhost_webroot}}

        <Directory {{apache_vhost_webroot}}>
                   Options Indexes FollowSymLinks MultiViews
                   AllowOverride All
                   Order allow,deny
                   allow from all
        </Directory>

{% include 'apache_rewrites.j2' %}

</VirtualHost>

 {% if no_www_redirect is not defined or alternate_vhosts is defined %}
#Permanently redirect root and all non-www subdomains and other domains.
#Must be after main definition to not loop.
<VirtualHost *:80>
{% if no_www_redirect is not defined %}
        ServerName {{ site_name }}
{% endif %}
{% if alternate_vhosts is defined %}
{%    for vhost in alternate_vhosts %}
{%        if no_www_redirect is defined and loop.first %}
        ServerName {{ vhost }}
        ServerAlias{%
        elif loop.first %}
        ServerAlias {{ vhost }}{% else %} {{vhost}}{% endif %}
{%    endfor %}
{% endif %}

        RedirectPermanent / http://www.{{ site_name }}/
</VirtualHost>
{% endif %}
