<?php
// Before removing this file, please verify the PHP ini setting `auto_prepend_file` does not point to this.

if (file_exists('{{ wordpress_webroot }}/app/mu-plugins/wordfence/waf/bootstrap.php')) {{ '{' }}
	define("WFWAF_LOG_PATH", '{{ wordpress_webroot }}/app/wflogs/');
	include_once '{{ wordpress_webroot }}/app/mu-plugins/wordfence/waf/bootstrap.php';
{{ '}' }}
?>